
.item-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.item-description,
.item-info {
    margin-bottom: 20px;
}

.item-info {
    display: flex;
    justify-content: space-between;
}

.item-info p {
    margin: 0;
}

.price {
    font-size: 1.2em;
    color: #3498db;
}

.city {
    font-size: 1.2em;
    color: #e74c3c;
}

/* Media Query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .item-details {
        padding: 15px;
    }

    .item-image {
        max-height: 150px;
    }

    .item-info {
        flex-direction: column;
    }
}

/* Media Query for screens between 601px and 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .item-details {
        max-width: 80%;
        padding: 15px;
    }

    .item-image {
        max-height: 180px;
    }
}

/* Media Query for screens between 901px and 1200px */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .item-details {
        max-width: 90%;
    }
}

/* Media Query for screens larger than 1200px */
@media only screen and (min-width: 1201px) {
    .item-details {
        max-width: 100%;
    }
}
